<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Alco Mix</title>
	<meta name ="viewport" content="width=device-width, user-scalable=no" />
	<meta name="author" content="" />
	<meta name="Keywords" content="cocktails, drinks, alcohol drinks, party ideas, alco pops" />
	<meta name="description" content="Alco Mix - Input your ingredients and find the perfect cocktail" />
	<link rel="stylesheet" href="./public_html/css/style.css"  type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/jdt1dzp.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>	
	<div id="wrapper">

		<header>
			<%- include('../partials/header')%>
		  </header>

	<main>
		<div class="row">
		  <div class="col-sm-8">
			<div class="jumbotron"  style="margin-left: 40%; margin-right: 40%; margin-top: 20%; text-align: center;">
			  <!-- Page to display a single profile. The "user" object is passed through from express -->
			  <!-- get the first name -->
			  <h1>Hi <%= user.name.first %></h1>
			  <!-- get the medium picture -->
			  <img src="<%= user.picture.medium %>" class="img-circle" />
			  <!-- get the username -->
			  <h2>username: <%= user.login.username %></h2>
			  <li><a href="/logout">Logout</a></li>
			 
			  </ul>
			</div>
		  </div>
	
		</div>
	  </main>
	  <footer>
		<%- include('../partials/footer')%>
	  </footer>
    <script src="js/jquery-3.2.1.js">	</script> 	
    <script src="js/script.js"></script> 
		<script src="js/jquery.validate.min.js"></script>
	</div>
</body>
</html>